.profile-block{
    width: 900px;
    margin-right: 550px;
    margin-bottom: 40px;
}

.profile-title {
    font-size: 26px;
    font-weight: bold; 
    color: #2d2d2d;
    margin-bottom: 40px;
    
}

.profile-form {
    max-width: 480px;
}

.form-group {
    margin-bottom: 25px;
}

.profile-label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.required-star {
    color: red;
}

.profile-input {
    width: 680px;
    height: 45px;
    padding: 6px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    box-sizing: border-box;
}

.profile-input:focus {
    outline: none;
    border-color: #7188d4;
}

.profile-links-block {
    display: flex;
    width: 900px;
    align-items: center;
    column-gap: 30px;
    margin-top: 20px;
}




.login-btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    min-width: 100px;
    height: 38px;
    font-size: 16px;
    background: #7188d4;
    color: white;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s;
    text-decoration: none;
}

.profile-link-btn-login:hover {
    background: #5a6eaa;
}

.profile-link-text {
    font-size: 16px;
    color: #7188d4;
    text-decoration: none;
}

.profile-link-text:hover {
    text-decoration: underline;
}

.error{
    color: red;
}