.product-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
  background: #ffffff;
  border-radius: 14px;
  padding: 14px;
  border: 1px solid #e6e8f3;
  transition: 0.25s ease;
  position: relative;
}

.product-card:hover {
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
  transform: translateY(-3px);
}


.img-wrapper {
  width: 100%;
  height: 220px;
  background: #f7f8ff;
  border-radius: 10px;
  border: 1px solid #e1e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  transition: 0.2s;
  z-index: 0;
}

.product-img:hover {
  transform: scale(1.05);
}


.product-tags {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 6px;
}

.product-tags span {
  background: #5c73d9;
  color: white;
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 6px;
  z-index: 2;
}


.favorite-btn {
    z-index: 2;
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ffffffd7;
  padding: 6px;
  border: none;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  cursor: pointer;
  transition: 0.2s ease;
}

.favorite-btn:hover {
  transform: scale(1.15);
}


.product-title {
  font-weight: 600;
  font-size: 15px;
  color: #1f2335;
  height: 32px; 
  margin: 8px 0 0;
  overflow: hidden;
}



.bottom {
  margin-top: 12px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  color: #2a2d45;
}


.cart-icon {
  position: relative;
}

.count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #4568d6;
  color: white;
  height: 18px;
  width: 18px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cart-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background: #5c73d9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 4px 10px rgba(92, 115, 217, 0.4);
}

.cart-button:hover {
  transform: scale(1.1);
  background: #4a61c0;
}
