.header {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  ;
  background: white;
  width: 100%;
  
}

.header-top {
  
  width: 100%;
  background-color: #e1e6fb;
  margin-bottom: 9px;
}

.top{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.header-top-links {
  display: flex;
  gap: 28px;
}

.header-top-link {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  transition: color 0.2s ease;
}

.header-top-link.active {
  color:#7188d4; 
}
.header-top-info {
 display: flex;
 font-display: row;
 align-items: center;
 column-gap: 35px;
}

.header-top-info-h2 {
  font-size: 17px;
  margin: 0;
  color: #787777;
  font-weight: 400;
}

.header-top-info-phone {
  display: flex;
  font-size: 18px;
  color: black  ;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px
}

.header-bottom{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo{
  width: 135px;
  height: 57px;
}
.header-catalog-bth{
  width: 127px;
  height: 50px;
  background: #7188d4;
  color: white;
  padding: 0 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.search-bar {
  position: relative;
  width: 620px;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 699px;
  padding: 10px 12px;
  border: 2px solid #7188d4;
  border-radius: 8px;
  outline: none;
  height:48px;
}

.search-button {
  background-color: #7188d4;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  margin-left: 6px;
  cursor: pointer;
  width: 48px;
  height: 47px;
}

.search-results {
  position: absolute;
  top: 46px;
  width: 100%;
  background: white;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 50;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.search-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 10px;
  cursor: pointer;
}

.search-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.search-item:hover {
  background-color: #f1f4ff;
}





.header-icon{
  width: 25px;
  height: 23px;
}




.header-left {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  padding-right: 40px;
}

.header-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.icon-count {
  position: absolute;
  top: -8px;
  right: 19px;
  background-color: #7188d4;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-count-cart{
   position: absolute;
  margin-top: -25px;
  margin-right: 29px;
  background-color: #7188d4;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cart-total-display {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #7188d4;
  column-gap: 5px;
  position: absolute;
  left: 22px;
}

.currency-symbol {
  font-size: 18px;
  
}

